@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 1024px;
    background: #FFF;
    background-image: url('IMG_1814.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: transitionIn 0.75s;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 624px;
    height: 717px;
    border-radius: 50px;
    background: #3B6064;
}

.logo-container{
    align-items: center;
    text-align: center;
}

.logo-container p{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin: 20px;
}

.logo-container svg{
    width: 127px;
    height: 83px;
    padding-top: 50px;
}

.desc{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: 30px;
}

.form-group{
    width: 474px;
    height: 86px;
    border-radius: 25px;
    border: 1px solid #000;
    background: #E4E4E4;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-group p {
    margin-left: 20px;
    color: #938F8F;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-group svg {
    padding-left: 40px;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.form-group p .asterisk {
    color: #FD6130;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.form-group input {
    border: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 350px;
}

.form-group svg.eye-icon {
    margin-left: -70px;
}

.continue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 466px;
    height: 56px;
    border-radius: 25px;
    background: #55828B;
    margin-top: 50px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    transition: background 0.3s ease-in-out;
    text-decoration: none;
}

.continue:hover {
    background: #456976;
}

.cancel{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: -10px;
    text-decoration: none;
}

.cancel:hover p {
    color: #959e9e;
}

input:focus::placeholder, input:hover::placeholder {
    color: transparent;
}